<%- include ('../../components/header') %>
<link rel="stylesheet" href="<%= basePageUrl %>/css/columnNoConfigureFocusRightPull.css?v=2021010603">
<title>不配置焦点图片的右拉专题</title>
</head>

<body style="overflow: hidden;background: transparent;">
    <div class="main" style="overflow: hidden;">
        <!--   专题内容     -->
        <div id="columnContent" class="withScreen" style="top: 0px;left: 0;">

            <!--     背景图       -->
            <div id="columnBG" class="withScreen" style="top: 0px;left: 0;"></div>
            <!--     页面内容       -->
            <div id="columnInfo" class="withScreen" style="top: 0px;left: 0;">

            </div>
        </div>
        <!--   空焦点，页面切换时使用     -->
        <div id="hands_x0_y0_emptyFocus_" style="width: 2px;height: 2px;position: absolute;top: -2px;left: -2px;">
            <img id="emptyFocus" src="<%= basePageUrl %>/img/empty.png" style="visibility: hidden;" alt="">
        </div>
    </div>
</body>
<!-- 引入公用JS -->
<%- include('../../components/commJs') %>
<!-- 引入公用js结束 -->
<script type="text/javascript" src="<%= basePageUrl %>/js/general.js?v=2020120908"></script>
<script type="text/javascript" src="<%= basePageUrl %>/js/reSetMessage.js"></script>
<script type="text/javascript">
    //图片地址
    var columnImgUrl = AjaxConfig.imgUrl;
    //焦点名称
    var columnGeneralFocusName = "generalFocus";
    //column对象,包含创建Dom元素与专题跳转等基本功能(columnLargeScrenSwitch.js)
    var column = new GeneralColumn();
    //页面数组，存储重新解析后的各页面数据newOutJson
    var pageJsonArr = [];
    //页面原始数组OutJson
    var pageMsgArr = [];
    //当前页面信息在数组中的下标
    var curPageNum = 0;
    //卡通剧集信息
    var OUT_LIST_JSON = [];
    //当前页面视频是否正在播放
    var curVideoPlaying = false;
    //当前视频总时长,秒
    var curVideoTotalTime = 10 * 10;
    //从眉头获取当前页面信息
    var curPageEName = CT.getCookie("columnBackAction") || basePageInfo.commonPageInfo.pageInfo.commPageEname || getGeneralAction();
    CT.delCookie("columnBackAction");
    //所有焦点信息
    var buttons = [];

    /**
 * 获取当前页面英文名
 * @returns {string|null}
 */
    function getGeneralAction() {
        var reg = new RegExp("(^|&)contentName=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) {
            return unescape(r[2]);
        } else {
            return null;
        }
    }

    /**
* 页面开始渲染
*/
    function setAllPage() {
        allForStart(curPageEName);
    }
    setAllPage();

    /**
* 获取焦点时(除返回焦点),对应的推荐图片放大动画，焦点图放大
**/
    function getFocusNow(ii) {
        var recommendMsg = pageJsonArr[curPageNum].allMsg.recommendMsg;
        //对应的推荐图片放大动画
        CT.addClass(CT.$("focusPic" + recommendMsg[ii].recommendId), "biggerAni");
        //焦点图放大
        CT.addClass(CT.$("hands_x0_y0_generalFocus" + recommendMsg[ii].recommendId + "_"), "biggerAni");
    }
    /**
* 失去焦点时(除返回焦点),对应的推荐图片取消放大动画，关闭焦点图放大
* */
    function loseFocusNow(ii) {
        var recommendMsg = pageJsonArr[curPageNum].allMsg.recommendMsg;
        //对应的推荐图片取消放大动画
        CT.removeClass(CT.$("focusPic" + recommendMsg[ii].recommendId), "biggerAni");
        //关闭焦点图放大
        CT.removeClass(CT.$("hands_x0_y0_generalFocus" + recommendMsg[ii].recommendId + "_"), "biggerAni");
    }



    /**
 * 按数字免费鉴权,测试用
* */
    var freeAddr = "";
    var testNumber = "";
    function changeNum(num) {
        testNumber = testNumber + num;
        if (testNumber == "1024") {
            freeAddr = pageJsonArr[curPageNum].actionName;
        }
    }

    /**
* 焦点点击确认跳转
* */
    function goSomeWhere(ii) {
        var OutJson = pageMsgArr[curPageNum];
        CT.setCookie("columnBackFocus", curFocus.FocusID);//记住焦点
        CT.setCookie("columnBackAction", OutJson.pageInfo.commPageEname);
        CT.setCookie("firstRecommendPicLeft", CT.$("focusPic" + OutJson.recommend_1[0].id).style.left);
        PAGE.otherPageParam = "&contentId=" + CT.requestValue("contentId") + "&contentEName=" + CT.requestValue("contentEName") + "&contentCName=" + CT.requestValue("contentCName") + "&curFocusId=" + curFocus.FocusID;
        CT.goPage();
        if (OutJson.pageInfo.isFree == "0" || OutJson.recommend_1[ii].isFree == "0" || freeAddr == pageJsonArr[curPageNum].actionName) {
            CT.toAnterRecommendUrl(OutJson, "recommend_1", ii);
        } else {
            orderJs.columnGetAuth(function (data) {
                if (data == "0") {
                    CT.toAnterRecommendUrl(OutJson, "recommend_1", ii);
                } else {
                    orderJs.columnToOrderPage(OutJson.pageInfo.commPageEname);
                }
            });
        }
    }

    /**
*  返回方法
* */
    function backFunc() {
        CT.delCookie("columnBackFocus");
        CT.delCookie("columnBackAction");
        var OutJson = pageMsgArr[curPageNum];
        if (OutJson.recommend_2 && OutJson.recommend_2[0] && OutJson.recommend_2[0].recommendDisplayType != "88") {
            CT.toAnterRecommendUrl(OutJson, "recommend_2", 0);
        } else {
            CT.backPage();
        }
    }



</script>

</html>