
<%- include ('../../components/header') %>
<link rel="stylesheet" href="<%= basePageUrl %>/css/mainPage.css">
</head>
<%
    var transObjDataToRec = function(transInfo){
        if (!transInfo || typeof(transInfo) != "object" ||
            !transInfo.transObj ||
            !transInfo.transType
        ) {
            return;
        }
        var commPageEname =
            basePageInfo.commonPageInfo.pageInfo.pageTrackName ||
            basePageInfo.commonPageInfo.pageInfo.commPageEname;
        var recIndex = transInfo.recIndex || "0";
        var recCartoonId = transInfo.transObj.id || "-1";
        var recCartoonCname = transInfo.transObj.recommendDisplayName || "未获取到";
        var defaultData = {
            animation: null,
            booleanFree: 1,
            booleanUp: 2,
            commpageId: 3,
            commpageName: "cartoon_detail_2019v1",
            createTime: "2020-11-19 15:03:08",
            filemTime: null,
            id: 36545,
            isFree: 1,
            more1: "",
            more2: null,
            more3: null,
            more4: null,
            movedown: null,
            moveleft: null,
            moveright: null,
            movetop: null,
            onfocus: 1,
            pageRecommendConfigTabVos: null,
            rankId: 2,
            recommendCornerpic: null,
            recommendDisplayName: null,
            recommendDisplayType: null,
            recommendDisplayValue: null,
            recommendFocuspic: null,
            recommendLabelpic: null,
            recommendPic: null,
            recommendTrackName: null,
        };
        var templateDataObj = transInfo.targetObj || defaultData;
        // 判断转换类型
        var type = transInfo.transType - 0;
        switch (type) {
            case 1:
                // 大数据片单对象转坑位推荐对象
                for (var keyName in transInfo.transObj) {
                    if (transInfo.transObj.hasOwnProperty(keyName)) {
                        templateDataObj[keyName] =
                            transInfo.transObj[keyName];
                    }
                }
                // 查看是否有不一样的属性名需要转换属性值
                if (transInfo.transDiffKeys) {
                    for (var keyName in transInfo.transDiffKeys) {
                        if (
                            transInfo.transDiffKeys.hasOwnProperty(
                                keyName
                            )
                        ) {
                            var tempKeyName =
                                transInfo.transDiffKeys[keyName];
                            templateDataObj[keyName] =
                                transInfo.transObj[tempKeyName];
                        }
                    }
                }
                // 查看是否有需要写死值得特定属性
                if (transInfo.transSpecialKeys) {
                    for (var keyName in transInfo.transSpecialKeys) {
                        if (
                            transInfo.transSpecialKeys.hasOwnProperty(
                                keyName
                            )
                        ) {
                            templateDataObj[keyName] =
                                transInfo.transSpecialKeys[keyName];
                        }
                    }
                }
                //intelligent_页面英文名_坑位数字_卡通id_卡通中文名
                var intelligentParams = [
                    "intelligent",
                    commPageEname,
                    recIndex,
                    recCartoonId,
                    recCartoonCname,
                ];
                templateDataObj.recommendTrackName = intelligentParams.join(
                    "&"
                ); //添加智能推荐焦点点击埋点信息
                break;

            default:
                break;
        }
        return templateDataObj
    }
    const commonPageInfo = basePageInfo.commonPageInfo;
    let bigDataRecCartoon = basePageInfo.bigDataRecCartoon || [];

    for(var __key in bigDataRecCartoon) {
        var transInfo = {
            // 必传：需要被转换的数据
            transObj: bigDataRecCartoon[__key],
            // 必传：转换的类型，比如： 1，大数据片单推荐→坑位推荐数据：1；默认
            transType: 1,

            // 选传：目标模板数据
            // targetObj: CT.stringToJson(CT.jsonToString(_this.rightRecommendJson_manualConfig[index])),
            // 选传：设定转换类型不能满足的定制化情景，需转换键名对，如：{"a" : "b"}代表被转换对象的b属性的值，赋值到模板对象的a属性上去。
            transDiffKeys: {
                "recommendDisplayValue": "id"
            },
            // 选传：设定转换类型不能满足的定制化情景，需写死某属性值，需写死某属性值。如：{"a" : b}代表值b，赋值到模板对象的a属性上去。
            transSpecialKeys: {},
            //当前只能推荐位于现在推荐模组中的下标
            recIndex: __key
        }
        bigDataRecCartoon[__key] = transObjDataToRec(transInfo);
    }

    const pageInfo = {
        //页面按钮集合
        buttons : [],
        // 瀑布流数据
        pinterestData : commonPageInfo.recommend_5, 
        init : function(){          
            // 轮播图
            if (commonPageInfo.recommend_7) {
                this.recommendScroll = commonPageInfo.recommend_7;
            }
            // 第一屏固定五个推荐位
            if (commonPageInfo.recommend_1) {
                this.recommendFirstScreenFiexd = commonPageInfo.recommend_1;
            }
            // 排行榜
            if (commonPageInfo.recommend_3) {
                this.recommendRank = commonPageInfo.recommend_3;
            }
            // 视频区域
            if (commonPageInfo.recommend_2) {
                for(var i = 0;i < bigDataRecCartoon.length;i++) {
                    if(i < commonPageInfo.recommend_2.length - 2) {
                        commonPageInfo.recommend_2[i + 2].recommendDisplayValue = bigDataRecCartoon[i].recommendDisplayValue || bigDataRecCartoon[i].id;
                        commonPageInfo.recommend_2[i + 2].recommendDisplayName = bigDataRecCartoon[i].recommendDisplayName;
                        commonPageInfo.recommend_2[i + 2].recommendDisplayEname = bigDataRecCartoon[i].recommendDisplayEname;
                        commonPageInfo.recommend_2[i + 2].recommendDisplayType = bigDataRecCartoon[i].recommendDisplayType;
                        commonPageInfo.recommend_2[i + 2].recommendTrackName = bigDataRecCartoon[i].recommendTrackName;
                    }
                }
                this.recommendPlayer = commonPageInfo.recommend_2;
                this.recommendSmallVideoArr = this.recommendPlayer.slice(2, 7);
            }
        },

    }
    pageInfo.init();
%>
<script>

    var bigDataRecCartoon = <%-JSON.stringify(bigDataRecCartoon || [])%> ;
     // 视频区域
     if (basePageInfo.commonPageInfo.recommend_2) {
        //智能推荐
        for(var i = 0;i < bigDataRecCartoon.length;i++) {
            // if(i < mainCommonPageInfo.recommend_2.length - 2) {
            if(basePageInfo.commonPageInfo && basePageInfo.commonPageInfo.recommend_2 && basePageInfo.commonPageInfo.recommend_2.length > i + 2) {
                basePageInfo.commonPageInfo.recommend_2[i + 2].recommendDisplayValue =  bigDataRecCartoon[i].recommendDisplayValue || bigDataRecCartoon[i].id;
                basePageInfo.commonPageInfo.recommend_2[i + 2].recommendDisplayName = bigDataRecCartoon[i].recommendDisplayName;
                basePageInfo.commonPageInfo.recommend_2[i + 2].recommendDisplayEname = bigDataRecCartoon[i].recommendDisplayEname;
                basePageInfo.commonPageInfo.recommend_2[i + 2].recommendDisplayType = bigDataRecCartoon[i].recommendDisplayType;
                basePageInfo.commonPageInfo.recommend_2[i + 2].recommendTrackName = bigDataRecCartoon[i].recommendTrackName;
            }
                // mainCommonPageInfo.recommend_2[i + 2].recommendDisplayValue =  bigDataRecCartoon[i].recommendDisplayValue || bigDataRecCartoon[i].id;
                // mainCommonPageInfo.recommend_2[i + 2].recommendDisplayName = bigDataRecCartoon[i].recommendDisplayName;
                // mainCommonPageInfo.recommend_2[i + 2].recommendDisplayEname = bigDataRecCartoon[i].recommendDisplayEname;
                // mainCommonPageInfo.recommend_2[i + 2].recommendDisplayType = bigDataRecCartoon[i].recommendDisplayType;
                // mainCommonPageInfo.recommend_2[i + 2].recommendTrackName = bigDataRecCartoon[i].recommendTrackName;
            // }
        }
    }

    var mainCommonPageInfo = basePageInfo.commonPageInfo || {};
    
   
</script>
<body style="background:transparent ;position:absolute;">
<!--背景图-->
<img id="BJ" src="<%= basePageInfo.bgImg %>" />
<!--视频补洞-->
<img id="videoImg" style="position:absolute;top:237px;left:428px;"
    src="<%= imgUrl + commonPageInfo.pageInfo.pageTemplatePic.picPath %>" style="visibility:visible" />
<!--导航栏-->
<%- include('../../components/nav/topNav')%>
<!--推荐位图片-->
<div style="position: absolute;top:185px;overflow:hidden;width:1280px;height: 535px">
    <div style="position: absolute;top:-185px;width:1280px;">
        <div id="main" style="top:0px;width:1280px;">
            <div id="firstScreenWrapper"
                style="position: absolute;left: 0px; top:px;width:1280px;height: 540px;">
                <!--左栏-->
                <%- include('./mainLeftNav')%>
                <%
                    //生成第一屏视频区域
                    const videoRecData = pageInfo.recommendPlayer[7];
                    const firstScreenVideoListPosArr = [
                        { left: '458px', top: '221px' },
                        { left: '458px', top: '269px' },
                        { left: '458px', top: '319px' },
                        { left: '458px', top: '368px' },
                        { left: '458px', top: '417px' }
                    ];
                    const firstScreenVideoRecPosArr = [
                        { left: '57px', top: '479px' },
                        { left: '260px', top: '479px' }
                    ];

                    //创建小视频选中框按钮
                    const num = commonPageInfo.pageInfo.commonPageInfo.recommend_2.length - 1;
                    const navMaxIndex = num > 4 ? 4 : num;
                   
                %>
                <div id="videoAreaDom" style="width: 617px; height: 337px; position: absolute; top:0px; left: 390px;">
                    <img src="<%= imgUrl + videoRecData.recommendPic.picPath  %>" 
                        style="width: <%= videoRecData.recommendPic.picW%>px;
                            height: <%= videoRecData.recommendPic.picH %>px;position: absolute;top:200px;left:0px;">
                    <div id="hands_x0_y0_DMSYvideo_"
                        style="position: absolute;top:200px;left:0px; width:<%= videoRecData.recommendLabelpic.picW %>px;
                            height:<%= videoRecData.recommendLabelpic.picH %>px;">
                        <img id="DMSYvideo" style="visibility:hidden"
                            src="<%= imgUrl + videoRecData.recommendLabelpic.picPath %>">
                    </div>
                    <% pageInfo.recommendSmallVideoArr.forEach((element,i) => {%>
                        <%
                            //光标图对象
                            const focusImgInfo = pageInfo.recommendSmallVideoArr[i].recommendLabelpic || {};
                            //展示图对象
                            const showImgInfo = pageInfo.recommendSmallVideoArr[i].recommendFocuspic || {};
                                                 
                        %>
                        <div id="hands_x0_y0_DMSYvideolist<%= i %>_" 
                            style="position: absolute;top:<%= firstScreenVideoListPosArr[i].top %>;
                                left:<%=firstScreenVideoListPosArr[i].left%>;width:<%= focusImgInfo.picW %>px;
                                height:<%= focusImgInfo.picH %>px;">
                            <img id="videoListBtnBG<%=i%>" style="width:<%=showImgInfo.picW%>px;
                                height:<%=showImgInfo.picH%>px;position: absolute;top:0px;left:-7px;visibility:hidden;" 
                                src="<%= imgUrl + showImgInfo.picPath %>">
                            <div id="videoListText<%=i%>" style="width: 130px;height:45px;position: absolute;
                                top:5px;left:10px;font-size:20px;color:white;line-height:45px;overflow:hidden;
                                white-space:nowrap;text-overflow:ellipsis;">
                                <%= pageInfo.recommendSmallVideoArr[i].recommendDisplayName %>
                            </div>
                            <img id="DMSYvideolist<%=i%>" style="visibility:hidden;position:absolute;left:-8px;" 
                                src="<%= imgUrl + focusImgInfo.picPath %>">
                        </div>
                    <% }) %>

                    <% for (let i = 0; i < 2; i++) { %>
                        <%
                            //光标图对象
                            const focusImgInfo = pageInfo.recommendPlayer[i].recommendLabelpic;
                            //展示图对象
                            const showImgInfo = pageInfo.recommendPlayer[i].recommendPic;
                            //角标图对象
                            const cornerImgInfo = pageInfo.recommendPlayer[i].recommendFocuspic;
                            
                        %>
                        <div id="hands_x0_y0_firstScreenVideoRec<%=i%>_" 
                            style="position: absolute;top:<%=firstScreenVideoRecPosArr[i].top%>;
                                left:<%=firstScreenVideoRecPosArr[i].left%>;width:<%=focusImgInfo.picW%>px;
                                height:<%=focusImgInfo.picH%>px;">
                            <img id="firstScreenVideoRec<%=i%>" style="visibility:hidden" 
                                src="<%= imgUrl + focusImgInfo.picPath %>">
                            <% if(cornerImgInfo) { %>
                                <img id="cornerImg<%=i%>" style="visibility:visible" 
                                    src="<%=imgUrl + cornerImgInfo.picPath%>">
                            <% } %>
                        </div>
                    <% } %>
                </div>
                <% 
                    const firstScreenFiexdPosArr = [
                        { left: '150px', top: '200px' }, 
                        { left: '150px', top: '450px' }, 
                        { left: '385px', top: '535px' }, 
                        { left: '700px', top: '535px' }, 
                        { left: '1010px', top: '450px' }
                    ];
                %>
                <% pageInfo.recommendFirstScreenFiexd.forEach((element,i) => { %>
                    <%
                        const recommendDisplayValue = element.recommendDisplayValue;
                        //光标图对象
                        const focusImgInfo = element.recommendLabelpic;
                        //展示图对象
                        const showImgInfo = element.recommendPic;
                        //角标图对象
                        const cornerImgInfo = element.recommendFocuspic;
                        if(firstScreenFiexdPosArr[i]) {
                            var displayType = "none";
                            if(element.booleanUp == 0) {
                                displayType = "block"
                            }
                    %>
                    <div id='hands_x0_y0_DMSYKW<%= i %>_' style='position: absolute;
                        top:<%= firstScreenFiexdPosArr[i].top %> ;left:<%= firstScreenFiexdPosArr[i].left %>;
                        width:<%= focusImgInfo.picW %>px;height:<%= focusImgInfo.picH %>px;'>
                        <img id='DMSYKW<%= i %>Img' style='width: <%= showImgInfo.picW %>px;
                            height:<%= showImgInfo.picH %>px;position: absolute;top:6px;left:6px;'
                            src='<%= imgUrl + showImgInfo.picPath %>'>
                        <img id='DMSYKW<%= i %>' style='visibility:hidden'
                            src='<%= imgUrl + focusImgInfo.picPath %>'>
                        <% if(cornerImgInfo){ %>
                            <img id='cornerImg<%= i %>' style='visibility:visible'
                                src='<%= imgUrl + cornerImgInfo.picPath %>'>
                        <% } %>
                        <img id="DMSYKW<%= i %>_booleanDown" src="/<%-global.config.projectName%>/HD/images/booleanDown.png" style="display:<%-displayType%>; position:absolute; right: 2%; top:2%;">
                    </div>
                <%
                    }
                }) %>

                <script>
                     var mainRerecommendPlayer = mainCommonPageInfo.recommend_2;
                     var mainRecommendSmallVideoArr = mainRerecommendPlayer.slice(2, 7);
                     var mainRecommendFirstScreenFiexd = mainCommonPageInfo.recommend_1;
                     var  videoButton = {
                        id: 'hands_x0_y0_DMSYvideo_',
                        clickHandler: 'javascript:page.toJump("firstScreenSmallVideo", page.nowSmallVideoIndex )',
                        up: '',
                        down: 'hands_x0_y0_firstScreenVideoRec0_',
                        left: 'hands_x0_y0_DMSYKW0_',
                        right: 'hands_x0_y0_DMSYvideolist0_',
                        focusType: 7,
                        TempData: mainRecommendSmallVideoArr[0]
                    };
                    xjInitButtons.push(videoButton);

                    for(var i=0;i<mainRecommendSmallVideoArr.length;i++){
                            //创建按钮
                            var  listButton = {
                                id: 'hands_x0_y0_DMSYvideolist' + i + '_',
                                clickHandler: 'javascript:page.changeSmallVideo(' + i + ')',
                                //otherFocusEvent: 'javascript:page.changeSmallVideo(' + i + ')',
                                //otherBlurEvent: 'javascript:page.smallVideoFocusBlur(' + i + ')',
                                left: "hands_x0_y0_DMSYvideo_",
                                right: "hands_x0_y0_DMSYPH1_",
                                up: 'hands_x0_y0_DMSYvideolist' + (i - 1) + '_',
                                down: 'hands_x0_y0_DMSYvideolist' + (i + 1) + '_',
                                focusType: 7,
                                TempData: mainRecommendSmallVideoArr[i]
                            };
                            if (i == 0) {
                            // listButton.up = 'hands_x0_y0_DMSYDH' + (commonPageInfo.data.pageInfo.commonPageInfo.recommend_2.length - 1) + '_';
                                listButton.up = '';
                            }
                            if (i == mainRecommendSmallVideoArr.length - 1) {
                                listButton.down = 'hands_x0_y0_firstScreenVideoRec1_';
                            }
                            xjInitButtons.push(listButton); 
                    }
                    for(var i = 0;i < 2;i++){
                        //创建按钮
                        var  recButton = {
                                id: 'hands_x0_y0_firstScreenVideoRec' + i + '_',
                                clickHandler: 'javascript:page.toJump("firstScreenVideoRec",' + i + ')',
                                up: 'hands_x0_y0_DMSYvideo_',
                                focusType: 7,
                                TempData: mainRerecommendPlayer[i]
                            };
                            if (i == 0) {
                                recButton.left = 'hands_x0_y0_DMSYKW1_';
                                recButton.down = 'hands_x0_y0_DMSYKW2_';
                            }
                            if (i == 1) {
                                recButton.down = 'hands_x0_y0_DMSYKW3_';
                            }
                            xjInitButtons.push(recButton);
                    }

                    for(var i = 0; i < mainRecommendFirstScreenFiexd.length;i++){
                              //创建按钮
                              var  fixButton = {
                                    id: 'hands_x0_y0_DMSYKW' + i + '_',
                                    clickHandler: 'javascript:page.toJump("firstScreenFiexd",' + i + ')',
                                    otherFocusEvent: 'javascript:waterfall.focusEvent(0)',
                                    downEvent: 'javascript:page.firstSrcDownEvent(' + i + ')',
                                    focusType: 7,
                                    TempData: mainRecommendFirstScreenFiexd[i]
                                };
                                switch (i) {
                                    case 0:
                                        fixButton.up = '';
                                        fixButton.left = 'hands_x0_y0_DMSYGN0_';
                                        fixButton.right = 'hands_x0_y0_DMSYvideo_';
                                        break;
                                    case 1:
                                        fixButton.up = 'hands_x0_y0_DMSYKW0_';
                                        fixButton.left = 'hands_x0_y0_DMSYGN2_';
                                        fixButton.right = 'hands_x0_y0_DMSYKW2_';
                                        break;
                                    case 2:
                                        fixButton.up = 'hands_x0_y0_firstScreenVideoRec0_';
                                        fixButton.left = 'hands_x0_y0_DMSYKW1_';
                                        fixButton.right = 'hands_x0_y0_DMSYKW3_';
                                        break;
                                    case 3:
                                        fixButton.up = 'hands_x0_y0_firstScreenVideoRec1_';
                                        fixButton.left = 'hands_x0_y0_DMSYKW2_';
                                        fixButton.right = 'hands_x0_y0_DMSYKW4_';
                                        break;
                                    case 4:
                                        fixButton.up = 'hands_x0_y0_DMSYPH5_';
                                        //fixButton.down = 'hands_x0_y0_DMSYKW1_';
                                        fixButton.left = 'hands_x0_y0_DMSYKW3_';
                                        fixButton.right = 'disable';
                                        break;

                                    default:
                                        break;
                                }
                                xjInitButtons.push(fixButton);
                    }
                    

                </script>
                

                <div id="rankDom" style="width: 220px;height: 230px;position: absolute;top: 0;left: 0px;">
                    <% 
                        const firstScreenRankPosArr = [
                            { left: '1015px', top: '201px' },
                            { left: '1055px', top: '199px' },
                            { left: '1142px', top: '200px' },
                            { left: '1015px', top: '308px' },
                            { left: '1015px', top: '351px' },
                            { left: '1015px', top: '394px' }
                        ];
                    %>
                    <% pageInfo.recommendRank.forEach((element,i) => { %>
                        <%
                            const focusImgInfo = element.recommendLabelpic;
                            //展示图对象
                            const showImgInfo = element.recommendPic;
                            //角标图对象
                            const cornerImgInfo = element.recommendFocuspic;
                            const focusType = 8;
                            const diffWidth = 0;
                            const diffHeight = 0;
                            const zIndex = 0;
                            if(firstScreenRankPosArr[i]) {
                                var displayType = "none";
                                if(element.booleanUp == 0) {
                                    displayType = "block"
                                }
                        %>
                        <div id='hands_x0_y0_DMSYPH<%= i %>_'
                            style='position: absolute;top:<%= firstScreenRankPosArr[i].top %>;left :<%= firstScreenRankPosArr[i].left %>;width:<%= focusImgInfo.picW %>px;height:<%= focusImgInfo.picH %>px;'>
                            <img id='DMSYPHShow<%= i %>'
                                style='width:<%= showImgInfo.picW %>px;height:<%= showImgInfo.picH %>px;position: absolute;top:0px;left:0px;'
                                src='<%= imgUrl + showImgInfo.picPath %>'>
                            <img id='DMSYPH<%= i %>'
                                style='position: absolute;visibility:hidden;top:-6px;left:-6px;z-index:<%= zIndex %>'
                                src='<%= imgUrl + focusImgInfo.picPath %>'>
                            <img id="DMSYKW<%= i %>_booleanDown" src="/<%-global.config.projectName%>/HD/images/booleanDown.png" style="display:<%-displayType%>; position:absolute; right: 2%; top:2%;">
                        </div>
                    <% 
                            }
                        }) %>
                        <script>
                            var mainRrecommendRank = mainCommonPageInfo.recommend_3;
                            mainRrecommendRank.forEach(function(element,i){
                                    //创建按钮
                                var rankButton = {
                                    id: 'hands_x0_y0_DMSYPH' + i + '_',
                                    clickHandler: 'javascript:page.toJump("firstScreenFiexd",' + i + ')',
                                    otherFocusEvent: 'javascript:page.rankFocus(' + i + ')',
                                    otherBlurEvent: 'javascript:page.rankBlur(' + i + ')',
                                    right: 'disable',
                                    left: 'hands_x0_y0_DMSYvideolist0_',
                                    up: 'hands_x0_y0_DMSYPH' + (i - 1) + '_',
                                    down: 'hands_x0_y0_DMSYPH' + (i + 1) + '_',
                                    focusType: 8,
                                    TempData: element
                                };
                                if (i == 0) {
                                    // rankButton.up = 'hands_x0_y0_DMSYDH' + (commonPageInfo.pageInfo.commonPageInfo.recommend_2.length - 1) + '_';
                                    rankButton.up = '';
                                    rankButton.down = 'hands_x0_y0_DMSYPH3_';
                                    rankButton.right = 'hands_x0_y0_DMSYPH1_';
                                }
                                if (i == 1) {
                                    rankButton.up = 'hands_x0_y0_DMSYDH' + (mainCommonPageInfo.pageInfo.commonPageInfo.recommend_2.length - 1) + '_';
                                    rankButton.down = 'hands_x0_y0_DMSYPH3_';
                                    rankButton.left = 'hands_x0_y0_DMSYPH0_';
                                    rankButton.right = 'hands_x0_y0_DMSYPH2_';
                                }
                                if (i == 2) {
                                    rankButton.up = 'hands_x0_y0_DMSYDH' + (mainCommonPageInfo.pageInfo.commonPageInfo.recommend_2.length - 1) + '_';
                                    rankButton.down = 'hands_x0_y0_DMSYPH3_';
                                    rankButton.left = 'hands_x0_y0_DMSYPH1_';
                                }
                                if (i == mainRrecommendRank.length - 1) {
                                    rankButton.down = 'hands_x0_y0_DMSYKW4_';
                                }
                                xjInitButtons.push(rankButton)
                            });

                        </script>

                </div>
            </div>
            <%- include ('../../components/waterfall',{recommendObj:pageInfo.pinterestData}) %>
        </div>
    </div>
</div>
<%
    const xhbXFCData = commonPageInfo.recommend_10;
    if(!xhbXFCData){
        basePageInfo.logError(504)
    }
%>
<% if(xhbXFCData && xhbXFCData.length > 1){ 
    var dmxhb1_top = 77;
    var dmxhb1_left = 857;
    var dmxhb2_top = 471;
    var dmxhb2_left = 535;
    if(xhbXFCData[0].pageRecommendConfigTabVos && xhbXFCData[0].pageRecommendConfigTabVos.length > 0) {
        dmxhb1_top =  xhbXFCData[0].pageRecommendConfigTabVos[xhbXFCData[0].pageRecommendConfigTabVos.length - 1].yvalue;
        dmxhb1_left =  xhbXFCData[0].pageRecommendConfigTabVos[xhbXFCData[0].pageRecommendConfigTabVos.length - 1].xvalue;
    }
    if(xhbXFCData[1].pageRecommendConfigTabVos && xhbXFCData[1].pageRecommendConfigTabVos.length > 0) {
        dmxhb2_top =  xhbXFCData[1].pageRecommendConfigTabVos[xhbXFCData[1].pageRecommendConfigTabVos.length - 1].yvalue;
        dmxhb2_left =  xhbXFCData[1].pageRecommendConfigTabVos[xhbXFCData[1].pageRecommendConfigTabVos.length - 1].xvalue;
    }
    %>
    
    <div id="hands_x0_y0_DMXHB0_" style="position: absolute;top:350px;left:0px;">
        <img id="xhbShowImg" style="position: absolute;top:0px;left:0px;" 
            src="<%= imgUrl + xhbXFCData[2].recommendPic.picPath %>">
        <img id="DMXHB0" style="position: absolute;top:0px;left:0px;visibility: hidden;" 
            src="<%= imgUrl + xhbXFCData[2].recommendLabelpic.picPath %>">
    </div>
    <div id="xhbAlertDiv" style="position: absolute;top:0px;left:0px;width:1280px;height:720px;z-index: 2;
        visibility: hidden;background: url('<%= imgUrl + xhbXFCData[0].recommendPic.picPath %>') no-repeat;">
        <div id="hands_x0_y0_DMXHB2_" style="position: absolute;;top:<%=dmxhb2_top%>px;left:<%=dmxhb2_left%>px;">
            <img id="DMXHB2" style="position: absolute;top:0px;left:0px;visibility: hidden;" 
                src="<%= imgUrl + xhbXFCData[1].recommendLabelpic.picPath %>">
        </div>
        <div id="hands_x0_y0_DMXHB1_" style="position: absolute;top:<%=dmxhb1_top%>px;left:<%=dmxhb1_left%>px;">
            <img id="DMXHB1" style="position: absolute;top:0px;left:0px;visibility: hidden;" 
                src="<%= imgUrl + xhbXFCData[0].recommendLabelpic.picPath %>">
        </div>
    </div>
    <script>
        var xhbXFCData = mainCommonPageInfo.recommend_10;
            //创建小视频选中框按钮
        var  xhbButtons = [{
            id: 'hands_x0_y0_DMXHB0_',
            clickHandler: 'javascript:page.showXhbXFC()',
            otherFocusEvent: 'javascript:page.xhbBtnGetFocus()',
            //enMove : 'false',
            left: 'disable',
            top: 'disable',
            up: 'disable',
            down: 'disable',
            //right: 'hands_x0_y0_navBelowFocus2_',
            rightEvent: 'javascript:page.xhbFocusRight()',
            focusType: 7,
            TempData: xhbXFCData[2]
        }, {
            id: 'hands_x0_y0_DMXHB2_',
            clickHandler: 'javascript:page.toJump("xhbAlert")',
            enMove: 'false',
            enFocus : false,
            left: 'hands_x0_y0_DMXHB0_',
            top: 'hands_x0_y0_DMXHB1_',
            up: 'hands_x0_y0_DMXHB1_',
            down: 'disable',
            right: 'disable',
            focusType: 7,
            TempData: xhbXFCData[1]
        }, {
            id: 'hands_x0_y0_DMXHB1_',
            clickHandler: 'javascript:PAGE.changeFocus("hands_x0_y0_DMXHB0_")',
            enMove: 'false',
            enFocus : false,
            left: 'disable',
            top: 'disable',
            up: 'disable',
            down: 'hands_x0_y0_DMXHB2_',
            right: 'disable',
            focusType: 7,
            TempData: xhbXFCData[0]
        }];
        xjInitButtons =  xjInitButtons.concat(xhbButtons)

    </script>

<% } 
    var headExt = commonPageInfo.recommend_11;
    if(headExt) {
%>
        <div id="headerAddBtn" style="position: absolute;top: 0;left: 0">
            <img src = '<%= imgUrl + headExt[0].recommendPic.picPath %>' style = 'width: 457px;height: 90px;position: absolute;top: -10px;left: 830px;'>
            <div id = 'hands_x0_y0_addHeaderFocus0_' style = 'width: 457px;height: 90px;position: absolute;top: -10px;left: 830px;'>
                <div id = 'addHeaderFocus0' style = 'background-image:url("<%= imgUrl + headExt[0].recommendLabelpic.picPath %>"); width: 457px;height: 90px;visibility: hidden;'>
                </div>
            </div>
        </div>

        <script>
            var headExt = mainCommonPageInfo.recommend_11;
            var documentHeaderIdx = 0;
            for(var i = 0; i < xjInitButtons.length;i++) {
                if(xjInitButtons[i].id && xjInitButtons[i].id.indexOf("hands_x0_y0_DMSYDH") >=0) {
                    xjInitButtons[i].up = "hands_x0_y0_addHeaderFocus0_";
                    xjInitButtons[i].upEvent = "";
                    var idx = parseInt(xjInitButtons[i].id.replace("hands_x0_y0_DMSYDH",""));
                    documentHeaderIdx = idx > documentHeaderIdx ? idx:documentHeaderIdx;
                }
            }
            xjInitButtons.push({
                id: "hands_x0_y0_addHeaderFocus0_",
                clickHandler: 'javascript:page.toJump("hands_x0_y0_addHeaderFocus0_")',
                up: "disable",
                down: 'hands_x0_y0_DMSYDH' + documentHeaderIdx + '_',
                right: "disable",
                down: 'hands_x0_y0_DMSYDH' + documentHeaderIdx + '_',
                focusType: 7,
                TempData: headExt[0]
            });    
            
        
        </script>
<%
    }
%>

<script>
    var  mainPageButtons  = <%- JSON.stringify(pageInfo.buttons)%> || [];
    xjInitButtons = xjInitButtons.concat(mainPageButtons);  
</script>


<!--引入公共js-->
<%- include('../../components/commJs3') %>
    <script src="<%= basePageUrl %>/js/chance.js?v=<%= parseInt(new Date().getTime() / 1000000) %>"></script>
    <script src="<%= basePageUrl %>/js/pinterest.js?v=<%= parseInt(new Date().getTime() / 1000000) %>"></script> 



<script>
    var CHANGEMUN = "";
    var backmain = escape(window.location.href);
    var changeNumObj = {
        changeNum: function (num) {
            CHANGEMUN = CHANGEMUN + num + '';
            xjDataLog.writeInfo("地址>>>>>>>>>>>CHANGEMUN=" + CHANGEMUN);
            if (CHANGEMUN == "78921") {
                // 跳转测试页
                CT.getAnterByIdOrAction({
                    contentName : "operationPage"
                })
            } else if (CHANGEMUN == "78922"){
                // 测试订购日志
                var data = {
                    "code_url":"",
                    "message":"",
                    "pay_id":"",
                    "pay_info":"",
                    "pay_url":"",
                    "request_id":"5fc86b780000000000007b7ad3ecc652",
                    "ret":0,
                    "ret_msg":"success"
                    }
                var orderFromType = 0;
                try {
                    //页面访问日志和订购日志
                    var backPrePage = CT.getCookie("backPrePage") || "";
                    var fromPage = xjDataLog.getPageUrlName(backPrePage);
                    if (backPrePage.indexOf("cartoonId") > -1) {
                        var cartoonId = xjDataLog.querySearchUrlKey(backPrePage, "cartoonId");
                        fromPage += "_" + cartoonId;
                    } else if (backPrePage.indexOf("gameId") > -1) {
                        var gameId = xjDataLog.querySearchUrlKey(backPrePage, "gameId");
                        fromPage += "_" + gameId;
                    } else if (backPrePage.indexOf("activity") > -1) {
                        var activityId = xjDataLog.querySearchUrlKey(backPrePage, "contentEName");
                        orderFromType = 2;
                        fromPage = activityId;
                    }else{
                        var contentName = xjDataLog.querySearchUrlKey(backPrePage, "contentEName");
                        fromPage += "_" + contentName;
                    }
                    //上传结果日志
                    var params = {
                        orderState: "",
                        contentName: fromPage,
                        more1 : "",
                        contentType: orderFromType,
                        productId : data.pay_id || data.request_id
                    };
                    try {
                        params.orderState = data.ret + "";
                        params.more1 = '支付返回:' + ajax.jsonToString(data);
                        if (typeof payParams != "undefined" && CT.dataType(payParams) == "object") {
                            params.more3 = ajax.jsonToString(payParams);
                        }
                    } catch (error) {

                    }
                    xjDataLog.uploadOrderSuccess(params);
                    xjDataLog.uploadOrderSuccessBigData(params);
                } catch (error) {
                    loggerInfo('orderLog order yeE pay result failed:', 'post');
                }
                CT.alertTip("测试上传订购结果日志");
            }
            if (CHANGEMUN.length >= 5) {
                CHANGEMUN = "";
            }
        }
    };
    

    try {
        // 获取某个设备所属家庭的用户信息列表。 设置cookie
        CT.setCookie("userDeviceId", "");
        CT.setCookie("userReqUserId", "");

        CT.delCookie("userDeviceId");
        CT.delCookie("userReqUserId");

        interface.getDeviceIdFamilyMemberList();
    } catch (e){

    }

</script>
</body>
</html>